/**
 * Responsive @media queries for responsive design.
 * Ensure this is included after all your other CSS.
 *
 * The first section below is the basic mobile first
 * CSS as the above CSS is just styling.
 *
 * Obviously media queries are specific to each
 * application and these may need altering for your
 * own project.
 */
h1
{
    font-size: 2em;
}

h2
{
    font-size: 1.5em;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.25em;
}

h5
{
    font-size: 1em;
}

h6
{
    font-size: 0.875em;
}

p,
li,
dl dd
{
    font-size: 14px;
}

code,
footer p
{
    font-size: 12px;
}

nav#primary .selector
{
    display: inherit;
}

nav#primary ul
{
    display: none;
}

#logo
    {
        width: 50px;
    }

#logo > small
{
    display: none;
}

.container
{
    width: 380px;
}

.one_full,
.one_half,
.one_third,
.two_third,
.one_quarter
{
    margin-right: 0px;
    width: 280px;
}

/**
 * iPhone landscape
 */
@media (min-width: 480px) {
    h1
    {
        font-size: 2em;
    }

    h2
    {
        font-size: 1.5em;
    }

    h3
    {
        font-size: 1.2em;
    }

    h4
    {
        font-size: 1.25em;
    }

    h5
    {
        font-size: 1em;
    }

    h6
    {
        font-size: 0.875em;
    }

    p,
    li,
    dl dd
    {
        font-size: 14px;
    }

    code,
    footer p
    {
        font-size: 12px;
    }

    nav#primary .selector
    {
        display: inherit;
    }

    nav#primary ul
    {
        display: none;
    }

    #logo
    {
        width: 50px;
    }

    #logo > small
    {
        display: none;
    }

    .container
    {
        width: 480px;
    }

    .one_full,
    .one_half,
    .one_third,
    .two_third,
    .one_quarter
    {
        margin-right: 0px;
        width: 380px;
    }
}

/**
 * Small tablet portrait
 */
@media (min-width: 640px) {
    h1
    {
        font-size: 2.2em;
    }

    h2
    {
        font-size: 1.8em;
    }

    h3
    {
        font-size: 1.5em;
    }

    h4
    {
        font-size: 1.25em;
    }

    h5
    {
        font-size: 1em;
    }

    h6
    {
        font-size: 0.875em;
    }

    p,
    li,
    dl dd
    {
        font-size: 16px;
    }

    code,
    footer p
    {
        font-size: 14px;
    }

    nav#primary .selector
    {
        display: inherit;
    }

    nav#primary ul
    {
        display: none;
    }

    #logo
    {
        width: 50px;
    }

    #logo > small
    {
        display: none;
    }

    .container
    {
        width: 640px;
    }

    .one_full,
    .one_half,
    .one_third,
    .two_third,
    .one_quarter
    {
        margin-right: 0px;
        width: 540px;
    }
}

/**
 * iPad portrait
 */
@media (min-width: 768px) {
    h1
    {
        font-size: 2.2em;
    }

    h2
    {
        font-size: 1.8em;
    }

    h3
    {
        font-size: 1.5em;
    }

    h4
    {
        font-size: 1.25em;
    }

    h5
    {
        font-size: 1em;
    }

    h6
    {
        font-size: 0.875em;
    }

    p,
    li,
    dl dd
    {
        font-size: 16px;
    }

    code,
    footer p
    {
        font-size: 14px;
    }

    nav#primary .selector
    {
        display: none;
    }

    nav#primary ul
    {
        display: inherit;
    }

    #logo
    {
        width: 50px;
    }

    #logo > small
    {
        display: none;
    }

    .container
    {
        width: 768px;
    }

    .one_full
    {
        width: 618px;
    }

    .one_half
    {
        width: 280px;
        margin-right: 50px;
    }

    .one_third
    {
        width: 170px;
        margin-right: 50px;
    }

    .two_third
    {
        width: 390px;
        margin-right: 50px;
    }

    .one_quarter
    {
        width: 110px;
        margin-right: 50px;
    }
}

/**
 * Small browser / iPad landscape
 */
@media (min-width: 1024px) {
    h1
    {
        font-size: 2.4em;
    }

    h2
    {
        font-size: 1.8em;
    }

    h3
    {
        font-size: 1.5em;
    }

    h4
    {
        font-size: 1.25em;
    }

    h5
    {
        font-size: 1em;
    }

    h6
    {
        font-size: 0.875em;
    }

    p,
    li,
    dl dd
    {
        font-size: 16px;
    }

    code,
    footer p
    {
        font-size: 14px;
    }

    nav#primary .selector
    {
        display: none;
    }

    nav#primary ul
    {
        display: inherit;
    }

    #logo
    {
        width: 200px;
    }

    #logo > small
    {
        display: inline;
    }

    .container
    {
        width: 1024px;
    }

    .one_full
    {
        width: 874px;
    }

    .one_half
    {
        width: 410px;
        margin-right: 50px;
    }

    .one_third
    {
        width: 250px;
        margin-right: 50px;
    }

    .two_third
    {
        width: 550px;
        margin-right: 50px;
    }

    .one_quarter
    {
        width: 180px;
        margin-right: 50px;
    }
}

/**
 * Generic browser
 */
@media (min-width: 1280px) {
    h1
    {
        font-size: 2.5em;
    }

    h2
    {
        font-size: 1.8em;
    }

    h3
    {
        font-size: 1.5em;
    }

    h4
    {
        font-size: 1.25em;
    }

    h5
    {
        font-size: 1em;
    }

    h6
    {
        font-size: 0.875em;
    }

    p,
    li,
    dl dd
    {
        font-size: 16px;
    }

    code,
    footer p
    {
        font-size: 14px;
    }

    nav#primary .selector
    {
        display: none;
    }

    nav#primary ul
    {
        display: inherit;
    }

    #logo
    {
        width: 200px;
    }

    #logo > small
    {
        display: inline;
    }

    .container
    {
        width: 1180px;
    }

    .one_full
    {
        width: 1030px;
    }

    .one_half
    {
        width: 480px;
        margin-right: 50px;
    }

    .one_third
    {
        width: 300px;
        margin-right: 50px;
    }

    .two_third
    {
        width: 650px;
        margin-right: 50px;
    }

    .one_quarter
    {
        width: 210px;
        margin-right: 50px;
    }
}

/**
 * Large browser
 */
@media (min-width: 1600px) {
    h1
    {
        font-size: 2.5em;
    }

    h2
    {
        font-size: 1.8em;
    }

    h3
    {
        font-size: 1.5em;
    }

    h4
    {
        font-size: 1.25em;
    }

    h5
    {
        font-size: 1em;
    }

    h6
    {
        font-size: 0.875em;
    }

    p,
    li,
    dl dd
    {
        font-size: 16px;
    }

    code,
    footer p
    {
        font-size: 14px;
    }

    nav#primary .selector
    {
        display: none;
    }

    nav#primary ul,
    {
        display: inherit;
    }

    #logo
    {
        width: 200px;
    }

    #logo > small
    {
        display: inline;
    }

    .container
    {
        width: 1280px;
    }

    .one_full
    {
        width: 1130px;
    }

    .one_half
    {
        width: 530px;
        margin-right: 50px;
    }

    .one_third
    {
        width: 340px;
        margin-right: 50px;
    }

    .two_third
    {
        width: 730px;
        margin-right: 50px;
    }

    .one_quarter
    {
        width: 240px;
        margin-right: 50px;
    }
}